
.FourInOne{

  font-family:Arial;
  color:orange;
  font-size:15px;
  text-transform:uppercase;
}
h1,h2{

  color:purple;
}
.sqr{
margin:10px;
border:red 3px dashed;
padding:8% 5px 5px 5px;
}
h3 em:hover{
  font-size:60px
}
